body {
  font-family: Verdana;
/*  padding-left:20px;*/
  background-color:#FFCC00;
  width: 100%;
}
#wrapper {
   max-width:300px;
   heigth: 100%;
   margin: 0 auto;
   padding: 10px;
/*   border-style: solid; */
}
#head {
  text-align:center;
  margin-bottom:10px;
}

h2 {
    margin-top:0px;
    margin-bottom:0px;
  }

h4 {
    margin-top:0px;
    margin-bottom:0px;
  }

h5 {
    margin-top:2px;
    margin-bottom:5px;
  }
#titel {
   text-align:center;
}
#LogoDSA img {
   margin-left:30px;
   margin-top:7px;
}
#video {
   max-width:100%;
   margin: 0 auto;
   padding: 5px;
   text-align:center;
/*   border-style: solid; */
}
#video #meinVideo {
   width:90%;
}
/* Formatierung der Buttons */
Button {
  font-size: 0.8em;
  font-weight:bold;
  font-style:normal;
  background-color:#993300;
  color:#FFFFFF;
  border-radius: 10px;
  height:30px;           /* bestimmt die Höhe der Buttons */
  width:170px;
  margin-top:5px;        /* Abstand zwischen den Buttons */
  margin-bottom:2px;
  padding-top:4px;
  padding-bottom:4px;
  text-align:left;
}
span {
  font-family: Arial;
  font-size: 0.8em;
  font-weight:bold;
  padding-left:10px;
}